Look at distances

In [3]:
import igraph as ig
import pandas as pd
import numpy as np
import seaborn as sns
from compress_pickle import load, dump
from statistics import mean, median
from c_means_clustering import network_c_means
from copy import deepcopy
import itertools as it
import matplotlib.pyplot as plt
from math import log10
from ease import EASE


plt.style.use('bmh')

def open_pickle(file):
    with open(path+file, 'rb') as pickle_file:
        return load(path=pickle_file, compression='infer')

path = './files/'

regulome_network_edges = pd.read_csv(filepath_or_buffer=path+'/human_regulome_pd.gz', compression='infer')
regulome_network_edges = regulome_network_edges.astype({'ProteinAid': 'str', 'ProteinBid':'str'})

regulome_graph = ig.Graph.DataFrame(regulome_network_edges, directed=False, use_vids=False)
proteins = pd.concat([regulome_network_edges['ProteinAid'], regulome_network_edges['ProteinBid']]).unique()

clusters_dict = open_pickle("c_means_leiden_clusters.gz")
clusters_dict = {cluster_id: cluster for (cluster_id, cluster) in clusters_dict.items() if len(cluster) > 10}

msigdb_c3_tft_dict = open_pickle('msigdb_c3_tft_dict.pkl')
results_99 = open_pickle("c_means_6iter_edge_99.gz")
results_98 = open_pickle("c_means_6iter_edge_98.gz")

In [ ]:
protein_edges = pd.concat([regulome_network_edges['ProteinAid'], regulome_network_edges['ProteinBid']]).value_counts()
most_connected_proteins = tuple(protein_edges.index[:5])
least_connected_proteins = tuple(protein_edges.index[-5:])

In [ ]:
from itertools import combinations

iter1_clusters = results_99[0][3]
clusters = [cluster for cluster in iter1_clusters.values() if len(clusters) if len(cluster) < 2000]
print(len(clusters))

overlap_coefficients = list()

for set_A, set_B in combinations(clusters, 2):
    ov_coeff = (len(set_A.intersection(set_B)))/(min(len(set_A), len(set_B)))
    overlap_coefficients.append(ov_coeff)

fig, ax = plt.subplots(1,1,figsize=[8,4], sharex=True)
title = fig.suptitle(f"Overlap coefficient of c-means clusters after 1 iteration (percentile = 99)", fontsize=15, y=1)

sns.histplot(overlap_coefficients, ax=ax)
ax.set_xlabel("Overlap Coefficient")
# ax.set_ylim([0, 2000])


plt.savefig('./images/c_means_overlap_coeff_edge_99_2.png', dpi=fig.dpi, bbox_inches='tight',bbox_extra_artists=[title])

In [ ]:
gene_sets = pd.Series([set(gene_set) for gene_set in msigdb_c3_tft_dict.values()])  # some gene sets have no mapping aka have 0 genes
overlap_coefficients = list()

for set_A, set_B in combinations(gene_sets, 2):
    if len(set_A) == 0 or len(set_B) == 0: # tft 3 sets with 0
        continue
    ov_coeff = (len(set_A.intersection(set_B)))/(min(len(set_A), len(set_B)))
    overlap_coefficients.append(ov_coeff)

fig, ax = plt.subplots(1,1,figsize=[8,4], sharex=True)
title = fig.suptitle(f"Overlap coefficient of MSigDB c3 tft gene sets", fontsize=15, y=1)

sns.histplot(overlap_coefficients, ax=ax)
ax.set_xlabel("Overlap Coefficient")
ax.set_ylim([0, 10000])

plt.savefig('./images/c_means_overlap_coeff_tft.png', dpi=fig.dpi, bbox_inches='tight',bbox_extra_artists=[title])

In [47]:
def enrichment(clusters, gene_set):
    enrichment_dict = dict()
    for (clusterid, cluster) in clusters.items():

        enrichment = EASE(query_set=cluster, genesets=gene_set, PT= regulome_graph.vcount())
        enrichment_dict[clusterid] = (enrichment, len(cluster), cluster) # maybe save this as a namedtuple with enrihcment and subgraph
    return enrichment_dict

threshold = 0.01

def calculate_CCS(enrichment_dict, threshold=0.01):
    enrichments = [cluster[0][:][['pathway_id', 'FDR']] for cluster in enrichment_dict.values()]
    enrichments = pd.concat(enrichments)
    enriched_df = enrichments[enrichments['FDR'] < threshold]
    n_enriched_clusters = len(enrichments['pathway_id'].unique())
    avg_set_per_cluster = len(enriched_df) / n_enriched_clusters
    avg_cluster_per_set = enriched_df.groupby('pathway_id')['pathway_id'].count().mean()
    CCS = avg_set_per_cluster / avg_cluster_per_set

    return CCS, n_enriched_clusters, avg_set_per_cluster, avg_cluster_per_set

In [50]:
for iteration, clusters in enumerate(results_99[0]):
    CCS_df = pd.DataFrame()

    enrichment = enrichment(clusters, msigdb_c3_tft_dict)
    
    CCS_values = calculate_CCS(enrichment)
    CCS_df = pd.concat([CCS_df, pd.DataFrame({'iter': [iteration], 'n_enriched':[CCS_values[1]], 'avg_s/c': [CCS_values[2]], 'avg_c/s':[CCS_values[3]], 'CCS': []})])

ValueError: All arrays must be of the same length

                   pathway_id  FDR
0           ADA2_TARGET_GENES  1.0
1        ADCYAP1_TARGET_GENES  1.0
2           ADNP_TARGET_GENES  1.0
3          AEBP2_TARGET_GENES  1.0
4           AHRR_TARGET_GENES  1.0
...                       ...  ...
1110           TATAAA_TATA_01  1.0
1111  TGANNYRGCA_TCF11MAFG_01  1.0
1112         WGGAATGY_TEF1_Q6  1.0
1113         GCCATNTTG_YY1_Q6  1.0
1114                 ER_Q6_01  1.0

[334500 rows x 2 columns]

In [16]:
enrichment_99

{0: (                   pathway_id  Overlap    Pvalue  FDR  FWER
  0           ADA2_TARGET_GENES       12  0.554180  1.0   1.0
  1        ADCYAP1_TARGET_GENES        0  1.000000  1.0   1.0
  2           ADNP_TARGET_GENES        6  0.882056  1.0   1.0
  3          AEBP2_TARGET_GENES       14  0.715053  1.0   1.0
  4           AHRR_TARGET_GENES       17  0.492761  1.0   1.0
  ...                       ...      ...       ...  ...   ...
  1110           TATAAA_TATA_01       14  0.907941  1.0   1.0
  1111  TGANNYRGCA_TCF11MAFG_01        5  0.593819  1.0   1.0
  1112         WGGAATGY_TEF1_Q6        5  0.761472  1.0   1.0
  1113         GCCATNTTG_YY1_Q6        6  0.706961  1.0   1.0
  1114                 ER_Q6_01        1  1.000000  1.0   1.0

  [1115 rows x 5 columns],
  205,
  {'330933',
   '331071',
   '331217',
   '331276',
   '331606',
   '331613',
   '331656',
   '331702',
   '331861',
   '331912',
   '331980',
   '332026',
   '332044',
   '332129',
   '332150',
   '332225',
   '332508',
   '332622',
   '332692',
   '332708',
   '332864',
   '332874',
   '332885',
   '332893',
   '332911',
   '333024',
   '333045',
   '333046',
   '333073',
   '333251',
   '333375',
   '333405',
   '333412',
   '333613',
   '333628',
   '333645',
   '333654',
   '333885',
   '333968',
   '333978',
   '334107',
   '334191',
   '334260',
   '334281',
   '334457',
   '334504',
   '334602',
   '334611',
   '334625',
   '334667',
   '334726',
   '335049',
   '335154',
   '335262',
   '335283',
   '335303',
   '335324',
   '335384',
   '335617',
   '335676',
   '335697',
   '335917',
   '335929',
   '336013',
   '336036',
   '336084',
   '336212',
   '336277',
   '336324',
   '336328',
   '336441',
   '336557',
   '336614',
   '336802',
   '336868',
   '336933',
   '337005',
   '337057',
   '337065',
   '337221',
   '337495',
   '337524',
   '337625',
   '337649',
   '337802',
   '337817',
   '337913',
   '338004',
   '338092',
   '338108',
   '338170',
   '338232',
   '338372',
   '338385',
   '338533',
   '338548',
   '338705',
   '338746',
   '338835',
   '339098',
   '339167',
   '339312',
   '339334',
   '339401',
   '339509',
   '339679',
   '339681',
   '339707',
   '339722',
   '339766',
   '339805',
   '339879',
   '340101',
   '340107',
   '340282',
   '340380',
   '340420',
   '340435',
   '340533',
   '341014',
   '341482',
   '341550',
   '341708',
   '341736',
   '341820',
   '341933',
   '341936',
   '342110',
   '342409',
   '342432',
   '342583',
   '342637',
   '342684',
   '342908',
   '343017',
   '343020',
   '343054',
   '343062',
   '343122',
   '343149',
   '343266',
   '343455',
   '343507',
   '343832',
   '343835',
   '343902',
   '343947',
   '343998',
   '344091',
   '344142',
   '344157',
   '344214',
   '344364',
   '344374',
   '344383',
   '344403',
   '344415',
   '344424',
   '344455',
   '344493',
   '344650',
   '344817',
   '344884',
   '344888',
   '344891',
   '344972',
   '345009',
   '345028',
   '345064',
   '345504',
   '345514',
   '345615',
   '345945',
   '345979',
   '346073',
   '346108',
   '346224',
   '346314',
   '346556',
   '346767',
   '346825',
   '346918',
   '347081',
   '348111',
   '348182',
   '348248',
   '348261',
   '348506',
   '348516',
   '348543',
   '348802',
   '348936',
   '349012',
   '349099',
   '349171',
   '349277',
   '349357',
   '349514',
   '349606',
   '349619',
   '349734',
   '350064',
   '350262',
   '351317',
   '351409'}),
 1: (                   pathway_id  Overlap    Pvalue  FDR  FWER
  0           ADA2_TARGET_GENES        4  0.765605  1.0   1.0
  1        ADCYAP1_TARGET_GENES        0  1.000000  1.0   1.0
  2           ADNP_TARGET_GENES        0  1.000000  1.0   1.0
  3          AEBP2_TARGET_GENES        4  0.904090  1.0   1.0
  4           AHRR_TARGET_GENES        5  0.818052  1.0   1.0
  ...                       ...      ...       ...  ...   ...
  1110           TATAAA_TATA_01        3  0.989555  1.0   1.0
  1111  TGANNYRGCA_TCF11MAFG_01        0  1.000000  1.0   1.0
  1112         WGGAATGY_TEF1_Q6        1  1.000000  1.0   1.0
  1113         GCCATNTTG_YY1_Q6        3  0.628114  1.0   1.0
  1114                 ER_Q6_01        0  1.000000  1.0   1.0

  [1115 rows x 5 columns],
  74,
  {'330967',
   '331456',
   '331481',
   '332038',
   '332315',
   '332847',
   '332871',
   '333318',
   '333364',
   '333574',
   '333681',
   '333998',
   '334216',
   '334353',
   '334408',
   '334435',
   '334667',
   '334948',
   '335042',
   '335075',
   '335175',
   '335299',
   '335441',
   '335671',
   '335747',
   '335866',
   '336627',
   '336793',
   '336983',
   '337093',
   '337380',
   '337477',
   '337861',
   '338061',
   '338085',
   '338302',
   '338574',
   '338689',
   '338761',
   '338777',
   '339037',
   '339072',
   '339249',
   '339370',
   '340168',
   '340977',
   '341826',
   '342181',
   '342267',
   '343678',
   '344354',
   '344408',
   '344812',
   '344834',
   '345151',
   '345492',
   '345551',
   '345836',
   '346031',
   '346038',
   '346873',
   '347020',
   '347280',
   '347635',
   '347938',
   '347953',
   '348272',
   '348933',
   '348961',
   '349526',
   '349906',
   '349942',
   '351217',
   '351460'}),
 2: (                   pathway_id  Overlap    Pvalue       FDR      FWER
  0           ADA2_TARGET_GENES       26  0.008552  0.108353  1.000000
  1        ADCYAP1_TARGET_GENES        0  1.000000  1.000000  1.000000
  2           ADNP_TARGET_GENES       10  0.706187  1.000000  1.000000
  3          AEBP2_TARGET_GENES       37  0.000370  0.008606  0.413069
  4           AHRR_TARGET_GENES       40  0.000134  0.003946  0.149956
  ...                       ...      ...       ...       ...       ...
  1110           TATAAA_TATA_01       20  0.882062  1.000000  1.000000
  1111  TGANNYRGCA_TCF11MAFG_01       11  0.054346  0.469738  1.000000
  1112         WGGAATGY_TEF1_Q6        2  0.999198  1.000000  1.000000
  1113         GCCATNTTG_YY1_Q6        9  0.547824  1.000000  1.000000
  1114                 ER_Q6_01        5  0.756626  1.000000  1.000000

  [1115 rows x 5 columns],
  277,
  {'331009',
   '331016',
   '331062',
   '331121',
   '331140',
   '331212',
   '331235',
   '331285',
   '331308',
   '331343',
   '331406',
   '331441',
   '331485',
   '331499',
   '331515',
   '331602',
   '331613',
   '331623',
   '331700',
   '331730',
   '332056',
   '332125',
   '332128',
   '332208',
   '332247',
   '332365',
   '332372',
   '332418',
   '332420',
   '332529',
   '332813',
   '332895',
   '332958',
   '332963',
   '333014',
   '333059',
   '333401',
   '333419',
   '333466',
   '333568',
   '333597',
   '333611',
   '333645',
   '334003',
   '334007',
   '334014',
   '334074',
   '334108',
   '334111',
   '334218',
   '334294',
   '334307',
   '334347',
   '334366',
   '334390',
   '334400',
   '334407',
   '334482',
   '334512',
   '334513',
   '334558',
   '334586',
   '334801',
   '335191',
   '335219',
   '335296',
   '335314',
   '335333',
   '335376',
   '335384',
   '335413',
   '335508',
   '335529',
   '335535',
   '335637',
   '335654',
   '335742',
   '335807',
   '335917',
   '335958',
   '336164',
   '336216',
   '336218',
   '336268',
   '336328',
   '336365',
   '336404',
   '336608',
   '336658',
   '336711',
   '336854',
   '336919',
   '336934',
   '337005',
   '337196',
   '337202',
   '337222',
   '337226',
   '337228',
   '337304',
   '337456',
   '337508',
   '337522',
   '337566',
   '337757',
   '337801',
   '337995',
   '338005',
   '338025',
   '338173',
   '338216',
   '338227',
   '338232',
   '338319',
   '338381',
   '338507',
   '338567',
   '338733',
   '338831',
   '338956',
   '339013',
   '339018',
   '339117',
   '339276',
   '339419',
   '339509',
   '339553',
   '339629',
   '339702',
   '339708',
   '339805',
   '339814',
   '339867',
   '339879',
   '340012',
   '340064',
   '340084',
   '340139',
   '340309',
   '340478',
   '340808',
   '340892',
   '340901',
   '340904',
   '340928',
   '341119',
   '341159',
   '341296',
   '341297',
   '341343',
   '341447',
   '341553',
   '341562',
   '341573',
   '341681',
   '341703',
   '341796',
   '341885',
   '341928',
   '342019',
   '342277',
   '342290',
   '342328',
   '342361',
   '342511',
   '342566',
   '342769',
   '342934',
   '343111',
   '343142',
   '343168',
   '343249',
   '343382',
   '343399',
   '343461',
   '343463',
   '343507',
   '343516',
   '343619',
   '343707',
   '343725',
   '343765',
   '343779',
   '343839',
   '343922',
   '344010',
   '344049',
   '344170',
   '344395',
   '344406',
   '344424',
   '344470',
   '344506',
   '344634',
   '344723',
   '344761',
   '344839',
   '344880',
   '344884',
   '344963',
   '345013',
   '345090',
   '345170',
   '345189',
   '345411',
   '345520',
   '345571',
   '345613',
   '345632',
   '345720',
   '345752',
   '345797',
   '345821',
   '345906',
   '346015',
   '346042',
   '346083',
   '346151',
   '346202',
   '346206',
   '346216',
   '346314',
   '346368',
   '346369',
   '346376',
   '346395',
   '346615',
   '346767',
   '346817',
   '346847',
   '347281',
   '347297',
   '347325',
   '347453',
   '347521',
   '347631',
   '347722',
   '347740',
   '347884',
   '348040',
   '348099',
   '348114',
   '348169',
   '348214',
   '348268',
   '348360',
   '348507',
   '348613',
   '348795',
   '348839',
   '348930',
   '348955',
   '348966',
   '348991',
   '349025',
   '349158',
   '349183',
   '349317',
   '349572',
   '349714',
   '349773',
   '349896',
   '350098',
   '350206',
   '350327',
   '350396',
   '350456',
   '350506',
   '350620',
   '350762',
   '350773',
   '350852',
   '351078',
   '351159',
   '351176',
   '351212',
   '351283'}),
 3: (                   pathway_id  Overlap    Pvalue       FDR  FWER
  0           ADA2_TARGET_GENES       50  0.032678  0.322445   1.0
  1        ADCYAP1_TARGET_GENES        0  1.000000  1.000000   1.0
  2           ADNP_TARGET_GENES       18  0.976817  1.000000   1.0
  3          AEBP2_TARGET_GENES       58  0.150438  0.911622   1.0
  4           AHRR_TARGET_GENES       69  0.017186  0.205005   1.0
  ...                       ...      ...       ...       ...   ...
  1110           TATAAA_TATA_01       38  0.999699  1.000000   1.0
  1111  TGANNYRGCA_TCF11MAFG_01        9  0.971433  1.000000   1.0
  1112         WGGAATGY_TEF1_Q6        8  0.998847  1.000000   1.0
  1113         GCCATNTTG_YY1_Q6       31  0.017283  0.205005   1.0
  1114                 ER_Q6_01        9  0.945757  1.000000   1.0

  [1115 rows x 5 columns],
  691,
  {'330938',
   '330952',
   '330954',
   '330977',
   '331015',
   '331020',
   '331115',
   '331136',
   '331154',
   '331157',
   '331176',
   '331313',
   '331343',
   '331426',
   '331450',
   '331483',
   '331509',
   '331517',
   '331582',
   '331661',
   '331742',
   '331754',
   '331762',
   '331770',
   '331777',
   '331834',
   '331870',
   '331892',
   '331928',
   '331949',
   '331962',
   '331965',
   '331968',
   '331988',
   '332019',
   '332041',
   '332056',
   '332073',
   '332179',
   '332182',
   '332234',
   '332253',
   '332261',
   '332271',
   '332277',
   '332321',
   '332392',
   '332404',
   '332406',
   '332450',
   '332468',
   '332503',
   '332510',
   '332520',
   '332550',
   '332571',
   '332608',
   '332621',
   '332630',
   '332695',
   '332701',
   '332726',
   '332734',
   '332765',
   '332770',
   '332772',
   '332798',
   '332807',
   '332813',
   '332865',
   '332879',
   '332922',
   '332936',
   '332977',
   '332980',
   '332984',
   '333001',
   '333069',
   '333071',
   '333077',
   '333127',
   '333149',
   '333157',
   '333169',
   '333223',
   '333269',
   '333276',
   '333278',
   '333281',
   '333285',
   '333318',
   '333359',
   '333464',
   '333476',
   '333522',
   '333524',
   '333558',
   '333597',
   '333636',
   '333651',
   '333663',
   '333721',
   '333781',
   '333798',
   '333826',
   '333831',
   '333834',
   '333837',
   '333846',
   '333920',
   '333924',
   '333936',
   '333940',
   '333983',
   '334019',
   '334022',
   '334058',
   '334075',
   '334095',
   '334106',
   '334109',
   '334156',
   '334221',
   '334255',
   '334262',
   '334344',
   '334383',
   '334463',
   '334472',
   '334503',
   '334518',
   '334528',
   '334570',
   '334603',
   '334662',
   '334680',
   '334744',
   '334768',
   '334909',
   '334938',
   '334941',
   '334978',
   '334982',
   '335005',
   '335042',
   '335062',
   '335100',
   '335169',
   '335233',
   '335244',
   '335252',
   '335259',
   '335276',
   '335304',
   '335328',
   '335350',
   '335411',
   '335416',
   '335517',
   '335565',
   '335568',
   '335595',
   '335683',
   '335767',
   '335796',
   '335830',
   '336007',
   '336015',
   '336021',
   '336045',
   '336065',
   '336067',
   '336080',
   '336126',
   '336131',
   '336150',
   '336204',
   '336253',
   '336268',
   '336277',
   '336349',
   '336399',
   '336434',
   '336439',
   '336446',
   '336455',
   '336478',
   '336507',
   '336523',
   '336533',
   '336538',
   '336556',
   '336560',
   '336608',
   '336725',
   '336775',
   '336797',
   '336825',
   '336844',
   '336950',
   '336965',
   '336982',
   '337019',
   '337040',
   '337077',
   '337081',
   '337181',
   '337274',
   '337277',
   '337291',
   '337330',
   '337359',
   '337377',
   '337411',
   '337419',
   '337430',
   '337431',
   '337452',
   '337478',
   '337491',
   '337507',
   '337533',
   '337575',
   '337646',
   '337654',
   '337666',
   '337671',
   '337713',
   '337748',
   '337826',
   '337858',
   '337870',
   '337878',
   '338030',
   '338046',
   '338132',
   '338164',
   '338177',
   '338189',
   '338195',
   '338219',
   '338269',
   '338322',
   '338327',
   '338330',
   '338332',
   '338418',
   '338476',
   '338482',
   '338547',
   '338554',
   '338580',
   '338645',
   '338649',
   '338722',
   '338750',
   '338752',
   '338767',
   '338821',
   '338854',
   '338860',
   '338949',
   '338956',
   '338961',
   '338978',
   '338996',
   '339068',
   '339071',
   '339167',
   '339228',
   '339267',
   '339280',
   '339320',
   '339337',
   '339415',
   '339416',
   '339484',
   '339680',
   '339699',
   '339717',
   '339734',
   '339744',
   '339764',
   '339808',
   '339813',
   '339835',
   '339855',
   '339868',
   '339894',
   '339975',
   '339996',
   '340053',
   '340062',
   '340091',
   '340122',
   '340138',
   '340154',
   '340157',
   '340198',
   '340301',
   '340349',
   '340354',
   '340360',
   '340371',
   '340411',
   '340413',
   '340422',
   '340437',
   '340455',
   '340507',
   '340509',
   '340511',
   '340578',
   '340616',
   '340703',
   '340712',
   '340717',
   '340721',
   '340733',
   '340734',
   '340765',
   '340768',
   '340776',
   '340777',
   '340781',
   '340813',
   '340825',
   '340835',
   '340856',
   '340893',
   '340896',
   '340907',
   '340916',
   '340960',
   '340968',
   '340976',
   '341064',
   '341079',
   '341126',
   '341141',
   '341162',
   '341163',
   '341165',
   '341191',
   '341225',
   '341229',
   '341241',
   '341263',
   '341272',
   '341343',
   '341347',
   '341380',
   '341384',
   '341415',
   '341417',
   '341449',
   '341515',
   '341522',
   '341547',
   '341560',
   '341631',
   '341657',
   '341668',
   '341674',
   '341695',
   '341700',
   '341759',
   '341774',
   '341797',
   '341844',
   '341854',
   '341858',
   '341859',
   '341861',
   '341867',
   '341885',
   '341896',
   '341963',
   '341969',
   '341982',
   '342031',
   '342047',
   '342083',
   '342134',
   '342159',
   '342179',
   '342228',
   '342258',
   '342261',
   '342273',
   '342274',
   '342303',
   '342348',
   '342423',
   '342445',
   '342452',
   '342561',
   '342572',
   '342584',
   '342596',
   '342597',
   '342635',
   '342667',
   '342668',
   '342677',
   '342843',
   '342875',
   '342914',
   '342923',
   '342934',
   '343025',
   '343061',
   '343134',
   '343147',
   '343152',
   '343211',
   '343253',
   '343263',
   '343280',
   '343298',
   '343340',
   '343377',
   '343382',
   '343397',
   '343426',
   '343427',
   '343447',
   '343494',
   '343540',
   '343568',
   '343637',
   '343673',
   '343680',
   '343743',
   '343764',
   '343775',
   '343841',
   '343894',
   '343895',
   '343915',
   '343965',
   '343983',
   '343994',
   '344015',
   '344017',
   '344029',
   '344061',
   '344083',
   '344097',
   '344129',
   '344158',
   '344159',
   '344165',
   '344196',
   '344255',
   '344260',
   '344275',
   '344282',
   '344328',
   '344352',
   '344358',
   '344463',
   '344522',
   '344535',
   '344550',
   '344557',
   '344563',
   '344582',
   '344637',
   '344643',
   '344677',
   '344699',
   '344700',
   '344720',
   '344746',
   '344748',
   '344777',
   '344812',
   '344816',
   '344825',
   '344853',
   '344855',
   '344863',
   '344898',
   '344902',
   '344916',
   '345008',
   '345023',
   '345026',
   '345042',
   '345044',
   '345072',
   '345151',
   '345166',
   '345178',
   '345179',
   '345208',
   '345250',
   '345329',
   '345344',
   '345363',
   '345395',
   '345412',
   '345427',
   '345431',
   '345437',
   '345492',
   '345497',
   '345524',
   '345530',
   '345550',
   '345623',
   '345625',
   '345630',
   '345664',
   '345676',
   '345734',
   '345771',
   '345776',
   '345779',
   '345833',
   '345840',
   '345874',
   '345897',
   '345935',
   '345965',
   '346021',
   '346049',
   '346325',
   '346327',
   '346360',
   '346383',
   '346441',
   '346446',
   '346482',
   '346523',
   '346546',
   '346616',
   '346640',
   '346647',
   '346650',
   '346662',
   '346682',
   '346701',
   '346733',
   '346841',
   '346874',
   '346880',
   '346888',
   '346916',
   '346926',
   '346948',
   '346962',
   '347004',
   '347017',
   '347028',
   '347110',
   '347138',
   '347156',
   '347168',
   '347171',
   '347175',
   '347222',
   '347346',
   '347367',
   '347368',
   '347382',
   '347451',
   '347467',
   '347540',
   '347545',
   '347546',
   '347578',
   '347592',
   '347646',
   '347655',
   '347716',
   '347743',
   '347796',
   '347822',
   '347846',
   '347896',
   '347902',
   '347905',
   '347921',
   '347927',
   '347961',
   '347969',
   '347995',
   '348070',
   '348083',
   '348101',
   '348171',
   '348175',
   '348197',
   '348236',
   '348257',
   '348279',
   '348292',
   '348326',
   '348348',
   '348349',
   '348375',
   '348404',
   '348408',
   '348415',
   '348425',
   '348442',
   '348456',
   '348469',
   '348482',
   '348495',
   '348501',
   '348517',
   '348535',
   '348585',
   '348652',
   '348683',
   '348696',
   '348719',
   '348726',
   '348732',
   '348754',
   '348757',
   '348761',
   '348773',
   '348921',
   '348946',
   '349061',
   '349170',
   '349197',
   '349232',
   '349255',
   '349256',
   '349280',
   '349299',
   '349318',
   '349374',
   '349472',
   '349500',
   '349560',
   '349568',
   '349598',
   '349620',
   '349674',
   '349702',
   '349742',
   '349769',
   '349812',
   '349867',
   '349919',
   '349969',
   '349983',
   '350032',
   '350062',
   '350064',
   '350094',
   '350107',
   '350145',
   '350352',
   '350455',
   '350467',
   '350491',
   '350500',
   '350514',
   '350550',
   '350554',
   '350561',
   '350582',
   '350584',
   '350698',
   '350774',
   '350813',
   '350851',
   '350877',
   '350881',
   '350900',
   '350920',
   '351006',
   '351025',
   '351069',
   '351079',
   '351137',
   '351178',
   '351179',
   '351183',
   '351205',
   '351214',
   '351371',
   '351417',
   '351456'}),
 4: (                   pathway_id  Overlap    Pvalue  FDR  FWER
  0           ADA2_TARGET_GENES        1  1.000000  1.0   1.0
  1        ADCYAP1_TARGET_GENES        0  1.000000  1.0   1.0
  2           ADNP_TARGET_GENES        1  1.000000  1.0   1.0
  3          AEBP2_TARGET_GENES        5  0.180483  1.0   1.0
  4           AHRR_TARGET_GENES        3  0.696397  1.0   1.0
  ...                       ...      ...       ...  ...   ...